* {
    box-sizing: border-box;
    background-color: #FFFFFB;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #13070C;
}

a:visited {
    color: #B23A48;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #13070C;
    text-align: center;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #13070C;
    padding-left: 20px;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:auto;    
    max-width: 80%; /*limit images to max 80% of image height or width*/
    max-height: 340px;
}

li {
    padding: 10px;
}

ol li{
    line-height: 25px;
    font-size: 20px;
    margin-left: 20px;
}

ol {
    padding:8px;
}

p {
    font-size: 20px;
    padding: 20px;
    line-height: 25px;
}

ul {
    line-height: 40px;
    padding: 10px;
    font-size: 20px;
    list-style: none;
}

.footer {
    text-align: center;
    padding-bottom: 20px;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.title-container > img {
    flex: 0 1;
    width: 340px;
}

.title-container > a {
    flex: 1 1 300px;
    align-self: center;
    text-align: center;
}